/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
body.dark .discount_card-right {
  background: #121921;
}
body.dark .dark_blue {
  color: #12a2b8 !important;
}
body.dark .dark_blue-bg {
  background: #12a2b8 !important;
}
body.dark .dark_green {
  color: #1fc896 !important;
}
body.dark .footer {
  background: #0e141a;
}
body.dark .light_icon,
body.dark .light_icon,
body.dark .light_icon .st1 .light_icon .st0,
body.dark .close__nav-btn svg {
  fill: #fff;
  stroke: #fff;
}
body.dark .blue_btn {
  background-color: #12a2b8;
}
body.dark .dark_bg {
  background-color: #1d2936 !important;
}
body.dark .tariffs_funds .range_slider-dot.complete {
  background-color: #1d2936;
}
body.dark .midnight_blue {
  background-color: #1d2936 !important;
}
body.dark .dark_border {
  border-color: #1d2936;
}
body.dark .dark_border-two {
  border-color: #243444;
}
body.dark .light_text {
  color: #fff !important;
}
body.dark .nav .nav_link.active,
body.dark .nav .nav_link:hover,
body.dark .up_money-info span {
  color: #12a2b8 !important;
}
body.dark .blue_btn {
  box-shadow: 0px 10px 15px 0px rgba(18, 162, 184, 0.15);
}
body.dark .active_btn,
body.dark .discount_card .refback_box {
  background: #20c997;
}
body.dark .pending_btn {
  background: #ffc107;
}
body.dark .benefit_info {
  color: #20c997;
}
body.dark .active_btn,
body.dark .stopped_btn,
body.dark .pending_btn {
  color: #121921;
}
body.dark .discount_card .refback_box p {
  color: #121921;
  font-weight: 600;
}
body.dark .tariffs_card-line {
  background: #2c3e50;
}
body.dark .tariffs_funds-number p.complete {
  color: #20c997;
}
body.dark .tariffs_funds .complete_box,
body.dark .tariffs_funds .range_slider-dot .check_box {
  background: #20c997;
}
body.dark .tariffs_funds .range_slider-dot .check_box {
  box-shadow: 0px 10px 25px 0px rgba(32, 201, 151, 0.35);
}
body.dark .tariffs_funds-number p {
  color: #12a2b8;
}
body.dark .footer .social_media a {
  background: #162331;
}
body.dark .up_money .container {
  background: url(../images/dark_up-money.png) no-repeat;
  background-size: contain;
  background-position: top right;
}
body.dark .tariffs_bitcoin,
body.dark .tariffs_ethereum {
  opacity: 0.3;
}
body.dark .up_money .container,
body.dark .main__statistics .container,
body.dark .register__box,
body.dark .reviews .slide__box {
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.3);
}
body.dark .dark_img {
  display: block;
}
body.dark .light_img {
  display: none;
}
body.dark .discount_card-info span {
  color: #12a2b8;
}
body.dark .cripto__catalog-tr .cripto__price {
  color: #53677c;
}
body.dark .search .check__box label .icon__box {
  background: #18222d;
}
body.dark .cripto__catalog-header {
  background: #253444;
}
body.dark .black_btn {
  background: #121921;
}
body.dark .gray_btn {
  background: #253444;
  color: #fff;
}
body.dark .gray_btn svg path {
  fill: #fff;
}
body.dark .register__box .btns .gray_btn {
  background: #fff;
  color: #101010;
}
body.dark .main__statistics-header,
body.dark .main__statistics-tr:hover {
  background: #18222d;
}
body.dark .main__statistics .line,
body.dark .works .line__box .box .child__box,
body.dark .works .line__box .box::before,
body.dark .accordion .accordion__btn {
  background: #12a2b8;
}
body.dark .works .line__box .border,
body.dark .accordion .accordion__btn {
  border-color: #12a2b8;
}
body.dark .accordion.active .accordion__btn {
  background: #121921;
}
body.dark .works .line__box .box .child__box {
  box-shadow: 0px 15px 20px 0px rgba(18, 162, 184, 0.3);
}
body.dark .benefit__card-img {
  background: #121921;
}
body.dark .b-class .st1,
body.dark .a-class .st1,
body.dark .io .st0,
body.dark .gemini .st0,
body.dark .bite .st2,
body.dark .minus__icon .st0,
body.dark .lesson-icon .st1 {
  fill: #fff;
}
body.dark .huobi .st0 {
  fill: #282d5b;
}
body.dark .lesson-icon .st0 {
  fill: #12a1b8;
}
body.dark .benefit__card {
  border-color: #2a3c4b;
}
@media screen and (max-width: 700px) {
  body.dark .nav {
    background: #121921;
  }
}
body.dark .search__form input {
  color: #fff;
}
body.dark .lesson .progress .progress__box-complate {
  box-shadow: 0 10px 20px 0 rgba(18, 162, 184, 0.3);
}
body.dark .lesson .progress .progress__box {
  border-color: #333e5a;
}
body.dark .lesson .lesson__accordion {
  border-color: #1d2936;
  background: #1d2936;
}
body.dark .lesson .lesson__accordion .left__box {
  background: #1d2936;
}
body.dark .lesson .lesson__accordion .right__box {
  background: #121921;
}
body.dark .lesson .lesson__accordion {
  transition: all 0.3s linear;
}
body.dark .lesson .lesson__accordion:hover {
  border-color: #12a1b8;
}
body.dark .lesson .lesson__accordion:hover .lesson__accordion-header-info.nowrap {
  color: #12a1b8;
}
body.dark .lesson .lesson__accordion.active {
  border-color: #12a1b8;
}
body.dark .lesson .lesson__accordion.active .lesson__accordion-header-info.nowrap {
  color: #12a1b8;
}
body.dark .illustration .st0 {
  fill: #17222c;
}
body.dark .illustration .st2,
body.dark .illustration .st3 {
  fill: #12a1b8;
}
body.dark .dark_blue-border {
  border-color: #12a1b8 !important;
}
body.dark .tariff__table-td.check__td.checked {
  background: #18222d;
}
body.dark .tariff .check__box {
  background: #20c997;
  box-shadow: 0 10px 15px 0 rgba(32, 251, 151, 0.3);
}
body.dark .tariff .check__box.danger {
  background: #ed3333;
  box-shadow: 0 10px 15px 0 rgba(237, 51, 51, 0.3);
}
body.dark .tariff .check__input label {
  background: #18222d;
}
body.dark .tariff__td-bottom {
  border-color: #1d2936;
}
body.dark .tariff .pending_btn {
  box-shadow: 0 10px 15px 0 rgba(255, 193, 7, 0.1);
}
body.dark .tariff__table-td.check__td.checked .tariff__td-top::before {
  background: #12a2b8;
}
body.dark .tariff .check__input input:checked + label {
  background: #20c997;
}

.wrapper {
  overflow: hidden;
}

.dark_img {
  display: none;
}

:root {
  --body-bg: #f5f5f5;
}

body.dark:root {
  --body-bg: #121921;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  color: #343a40;
  transition: all 0.2s ease-in-out;
}
body.dark {
  color: #fff;
  background: #121921;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
}

.title__text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.title__info {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 29px;
}

.title_info {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  max-width: 798px;
  margin: 37px auto 0 auto;
  text-align: center;
}

.benefit_info {
  color: #28a745;
  font-size: 18px;
  line-height: 30px;
}

.damage_info {
  color: #ed3333;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 992px) {
  .title__text,
  .title {
    font-size: 35px;
  }
  .title__info,
  .title_info {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .title__text,
  .title {
    font-size: 25px;
  }
  .title__info,
  .title_info {
    margin-top: 20px;
    font-size: 18px;
  }
}
.blue_btn,
.black_btn,
.gray_btn,
.yellow__btn {
  background: #007bff;
  padding: 14px 35px;
  color: #fff;
  border-radius: 23px;
  transition: background 0.3s ease;
  font-size: 17px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  box-shadow: 0px 10px 15px 0px rgba(0, 123, 255, 0.3);
}
.blue_btn.no_shadow,
.black_btn.no_shadow,
.gray_btn.no_shadow,
.yellow__btn.no_shadow {
  box-shadow: none;
}
.blue_btn:hover,
.black_btn:hover,
.gray_btn:hover,
.yellow__btn:hover {
  background: #046ee0;
}
.blue_btn.flex,
.black_btn.flex,
.gray_btn.flex,
.yellow__btn.flex {
  display: flex;
  align-items: center;
  gap: 13px;
}

.black_btn {
  background: #343a40;
  box-shadow: none;
}
.black_btn:hover {
  background: #414850;
}

.gray_btn {
  box-shadow: none;
  background: #e2e2e2;
  color: #343a40;
}
.gray_btn:hover {
  background: #d1d1d1;
  color: #101010;
}

.active_btn,
.stopped_btn,
.pending_btn {
  font-size: 16px;
  font-weight: normal;
  padding: 0 18px;
  height: 32px;
  line-height: 32px;
  background: #28a745;
  color: #fff;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16px;
}
.active_btn:hover,
.stopped_btn:hover,
.pending_btn:hover {
  background: #218739;
}

.stopped_btn {
  background: #ed3333;
}
.stopped_btn:hover {
  background: #d92727;
}

.pending_btn {
  background: #fd7e14;
}
.pending_btn:hover {
  background: #e9710e;
}

.yellow__btn {
  background: #ffc107;
  color: #121921;
  box-shadow: 0px 15px 30px 0px rgba(255, 193, 7, 0.15);
}
.yellow__btn:hover {
  background: #e4ad06;
}

@media screen and (max-width: 992px) {
  .blue_btn,
  .black_btn,
  .gray_btn {
    font-size: 16px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header .container:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_wallet {
  margin-left: 112px;
  display: flex;
  align-items: center;
  gap: 41px;
}
.header_wallet-box {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.header_wallet-number {
  font-size: 16px;
  font-weight: 600;
}
.header_right {
  display: flex;
  align-items: center;
}
.header_user-box {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header_user-icon {
  background: #e2e2e2;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_user-name {
  line-height: 20pt;
  font-size: 16px;
}
.header_user-name:first-child {
  font-weight: bold;
}
.header_hellp-center {
  gap: 23px;
  display: flex;
  margin-left: 65px;
}
.header_hellp-center.no_ml {
  margin-left: 0;
}
.header_color-mode {
  border: 2px solid #e2e2e2;
  border-radius: 16px;
  width: 56px;
  overflow: hidden;
  margin: 0 26px;
  cursor: pointer;
}
.header_color-mode button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #e2e2e2;
  cursor: pointer;
  transition: transform 0.3s ease-in;
  transform: translateX(100%);
}
.header_color-mode button.active {
  transform: translateX(0);
}
.header_language-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_language-box:hover .dropdown {
  transform: scaleY(1);
}
.header_language-box .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 18px;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.header_language-box .dropdown > div {
  padding: 14px 12px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_language-box .eng {
  display: flex;
  gap: 10px;
}
.header_language-box .option__value .eng {
  gap: 10px;
}
.header_language-box .arrow_down {
  transition: transform 0.3s ease-in-out;
}
.header_language-box:hover .arrow_down {
  transform: translateY(3px);
}
.header_language-box > div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header .register_btns {
  display: flex;
  gap: 23px;
  margin-right: 43px;
}

@media screen and (max-width: 1260px) {
  .header_hellp-center {
    margin-left: 10px;
  }
  .header_wallet {
    margin-left: 30px;
    gap: 20px;
  }
}
@media screen and (max-width: 1090px) {
  .header_wallet {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .header .container:first-child {
    padding: 20px 0;
  }
  .header .register_btns {
    display: none;
  }
  .header_left-logo svg {
    width: 140px;
    height: 40px;
  }
}
@media screen and (max-width: 675px) {
  .header_user-box {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header_user-icon {
    display: none;
  }
  .header_color-mode {
    margin: 0;
    height: 28px;
  }
  .header_color-mode button {
    height: 100%;
    border-radius: 20px;
    padding: 0;
  }
  .header_color-mode button img {
    width: 13px;
    margin: 0 auto;
  }
  .header_right {
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header_left-logo svg {
    width: 120px;
    height: 35px;
  }
}
.footer {
  background: #e9e9e9;
  margin-top: 110px;
  padding: 68px 0 88px 0;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}
.footer_info {
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
}
.footer .social_media {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.footer .social_media a {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
}
.footer .col {
  max-width: 160px;
  width: 100%;
}
.footer .col:first-child {
  max-width: 340px;
}
.footer .col.social_media-box {
  max-width: 265px;
}
.footer .col h4 {
  margin: 13px 0 26px 0;
  font-weight: 900;
  font-size: 18px;
}
.footer .col a {
  color: #343a40;
  font-size: 16px;
}
.footer .col li {
  margin-bottom: 22px;
}
.footer .col li:last-child {
  margin-bottom: 0;
}

.footer .col ul a:hover {
  color: #007bff;
}

.social_media a:hover {
  background: #f5f5f5;
}

.faq .accordion {
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  position: relative;
  margin-bottom: 18px;
}
.faq .accordion:last-child {
  margin-bottom: 0;
}
.faq .accordion.active .accordion__btn {
  background: #fff;
}
.faq .accordion.active .accordion__btn .minus__icon {
  display: block;
}
.faq .accordion.active .accordion__btn .plus__icon {
  display: none;
}
.faq .accordion__header {
  padding: 35px 36px 32px 36px;
  cursor: pointer;
}
.faq .accordion__header-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.faq .accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  padding: 0;
}
.faq .accordion__content-text {
  padding: 0 36px 35px 36px;
  font-size: 19px;
  line-height: 28px;
}
.faq .accordion__content.collapsed {
  height: 0;
}
.faq .accordion .accordion__btn {
  background: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -12px;
  transition: all 0.3s ease-in-out;
  right: -20px;
}
.faq .accordion .accordion__btn .minus__icon {
  display: none;
}

.nav {
  width: 100%;
  border-top: 1px solid #e2e2e2;
}
.nav_list {
  display: flex;
  gap: 62px;
  justify-content: center;
  padding: 31px 0 65px 0;
}
.nav_link {
  color: #343a40;
  font-size: 19px;
  transition: color 0.2s ease;
}
.nav_link:hover, .nav_link.active {
  color: #007bff;
}

.close__nav-btn,
.open__nav-btn {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav_list {
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 20px 30px 20px !important;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 20px 20px 14px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
  }
  .nav.active {
    transform: scaleY(1);
  }
  .nav_list {
    flex-direction: column;
    padding: 0 !important;
  }
  .nav .close__nav-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .open__nav-btn {
    display: block;
  }
}
.up_money {
  max-width: 1030px;
  margin: 0 auto;
}
.up_money .container {
  border-radius: 20px;
  padding: 55px;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  background: url(../images/up_money.png) no-repeat #fff;
  background-size: contain;
  background-position: top right;
}
.up_money-info-box {
  max-width: 565px;
}
.up_money-info {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 39px;
}
.up_money-info span {
  color: #007bff;
}

.statistics {
  margin: 88px 0 96px 0;
}
.statistics_boxes {
  display: flex;
  align-items: start;
  margin-top: 74px;
}
.statistics_box {
  border-right: 1px solid #d1d1d1;
  padding: 0 96px 0 84px;
}
.statistics_box:last-child {
  border: none;
}
.statistics_box-title {
  white-space: nowrap;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.connected_accounts {
  margin-bottom: 97px;
}
.connected_accounts-cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 55px;
  gap: 19px;
  flex-wrap: wrap;
}
.connected_accounts-card {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  flex: 1 1 0%;
  transition: box-shadow 0.3s ease-in-out;
}
.connected_accounts-card:hover {
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
}
.connected_accounts .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 14px;
}
.connected_accounts .card_header-info, .connected_accounts .card_header-id {
  margin-top: 13px;
  font-size: 20px;
  line-height: 22px;
}
.connected_accounts .card_header-id {
  font-size: 15px;
}
.connected_accounts .card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.connected_accounts .card_footer p {
  font-weight: 400;
  line-height: 30px;
}
.connected_accounts .card_footer .benefit_info {
  font-weight: 600;
}

.tariffs {
  margin-bottom: 92px;
}
.tariffs .tarif__scroll {
  min-width: 1240px;
}
.tariffs .container {
  position: relative;
}
.tariffs_bitcoin {
  position: absolute;
  top: 17%;
  right: 48px;
  animation: topfade 1s ease-in-out infinite alternate;
}
.tariffs_ethereum {
  position: absolute;
  left: 73px;
  top: 9%;
  animation: topfade 1s ease-in-out infinite alternate;
}
@keyframes topfade {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
.tariffs_cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 22px;
  margin: 61px 0 42px 0;
}
.tariffs_card {
  background: #fff;
  border-radius: 20px;
  padding: 42px 25px 32px 25px;
  width: 230px;
  text-align: center;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
}
.tariffs_card-title {
  font-size: 23px;
  font-weight: 900;
  line-height: 32px;
  padding-top: 32px;
}
.tariffs_card-line {
  width: 100px;
  height: 1px;
  background: #d1d1d1;
  margin: 32px auto 35px auto;
}
.tariffs_card p {
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
}
.tariffs_card-info {
  font-weight: 300;
}
.tariffs_card-prosent {
  font-weight: 600;
}
.tariffs .range_btn {
  text-align: center;
}
.tariffs_funds-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.tariffs_funds-number p {
  width: 230px;
  color: #007bff;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 600;
}
.tariffs_funds-number p.complete {
  color: #28a745;
}
.tariffs_funds-range {
  margin-top: 43px;
}
.tariffs_funds .range_slider {
  width: 100%;
  height: 6px;
  background: #e2e2e2;
  position: relative;
  z-index: 1;
}
.tariffs_funds .range_info {
  font-size: 19px;
  line-height: 32px;
  margin: 37px 0 39px 11px;
}
.tariffs_funds .complete_box {
  background: #28a745;
  width: 160px;
  height: 100%;
}
.tariffs_funds .range_slider-dots {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  gap: 38px;
  z-index: 2;
}
.tariffs_funds .range_slider-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #12a2b8;
}
.tariffs_funds .range_slider-dot.complete {
  background: #edf3f2;
  width: 39px;
  height: 39px;
  border: 2px solid #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tariffs_funds .range_slider-dot .check_box {
  background: #28a745;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 25px 0px rgba(32, 201, 151, 0.35);
}

.discount_cards {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.discount_card {
  background: #e9e9e9;
  border-radius: 20px;
  display: flex;
  align-items: start;
  position: relative;
  border: 1px solid transparent;
}
.discount_card .refback_box {
  background: #28a745;
  border-radius: 18px;
  padding: 0 27px;
  height: 38px;
  position: absolute;
  top: -19px;
  right: 0;
}
.discount_card .refback_box p {
  white-space: nowrap;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
}
.discount_card-left {
  height: 100%;
  padding: 45px 64px 45px 53px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  max-width: 335px;
  width: 100%;
}
.discount_card-left .blue_btn {
  margin-top: 37px;
}
.discount_card-left img {
  margin: 0 auto;
}
.discount_card-right {
  background: #fff;
  width: 100%;
  padding: 45px 64px 45px 53px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.discount_card-box {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.discount_card-box:first-child {
  max-width: 365px;
}
.discount_card-box:first-child p {
  max-width: 275px;
}
.discount_card-box-top {
  display: flex;
  align-items: start;
  gap: 12px;
}
.discount_card-info {
  font-size: 18px;
  line-height: 24px;
}
.discount_card-info span {
  color: #007bff;
  font-weight: 900;
}
.discount_card-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 18px;
}

@media screen and (max-width: 1300px) {
  .tarif__wrap {
    overflow-x: scroll;
  }
  .tarif__wrap::-webkit-scrollbar {
    display: none;
  }
}
.balance {
  margin-bottom: 310px;
}
.balance__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  padding: 37px 29px 37px 36px;
}
.balance__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.balance__box a {
  flex: 1 1 0%;
}
.balance__box:last-child {
  gap: 15px;
}
.balance__box p {
  font-size: 24px;
  margin: 0 17px 0 13px;
  font-weight: 900;
}
.balance__box .balance__info {
  font-weight: 400;
  font-size: 20px;
  color: #007bff;
  margin: 0;
}

.search {
  display: flex;
  gap: 1rem;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 47px 0 45px 0;
}
.search__form {
  position: relative;
  max-width: 635px;
  width: 100%;
}
.search__form input {
  width: 100%;
  border-radius: 10px;
  background: #e2e2e2;
  border: none;
  padding: 17px 19px;
  font-size: 17px;
  color: #53677c;
}
.search__form input::-moz-placeholder {
  color: #53677c;
}
.search__form input::placeholder {
  color: #53677c;
}
.search__icon {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  cursor: pointer;
}
.search .check__box input {
  display: none;
}
.search .check__box input:checked + label .icon__box::after {
  transform: scale(1) translate(-50%, -50%);
}
.search .check__box label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 17px;
  cursor: pointer;
}
.search .check__box label .icon__box {
  width: 24px;
  height: 24px;
  background: #e2e2e2;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.search .check__box label .icon__box::after {
  content: "";
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  background-image: url(../../images/icons/tick.svg);
  width: 10px;
  height: 8px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: scale(0) translate(-50%, -50%);
}

.cripto__catalog-header {
  background: #343a40;
  border-radius: 10px;
  padding: 18px 25px;
}
.cripto__catalog-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 625px;
  width: 100%;
}
.cripto__catalog-header .left__box {
  display: flex;
  align-items: center;
  gap: 70px;
}
.cripto__catalog-header .left__box .nft__text {
  color: #909eac;
  font-size: 17px;
}
.cripto__catalog-header p {
  font-size: 18px;
  color: #fff;
}
.cripto__catalog-tr {
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0;
  margin: 0 29px 0 24px;
  cursor: pointer;
}
.cripto__catalog-tr:first-child {
  padding-top: 18px;
}
.cripto__catalog-tr:last-child {
  border-bottom: none;
}
.cripto__catalog-tr > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 632px;
  width: 100%;
  gap: 1rem;
}
.cripto__catalog-tr .left__box {
  display: flex;
  gap: 16px;
  align-items: start;
}
.cripto__catalog-tr .right__box .cripto__price {
  color: #53677c;
}
.cripto__catalog-tr .cripto__name {
  font-size: 18px;
  line-height: 22px;
}
.cripto__catalog-tr .cripto__price {
  font-size: 15px;
  line-height: 22px;
}
.cripto__catalog-tr .cripto__price .cripto__up {
  color: #28a745;
}

@media screen and (max-width: 576px) {
  .balance__boxes {
    padding: 20px;
  }
  .balance__box p {
    font-size: 22px;
  }
  .cripto__catalog-header .left__box {
    gap: 25px;
  }
  .cripto__catalog-header > div {
    max-width: 100%;
  }
  .cripto__catalog-header p:last-child {
    margin-right: 10px;
  }
  .balance {
    margin-bottom: 0;
    margin-top: 40px;
  }
}
.main__intro {
  margin-top: 50px;
}
.main__intro .container.flex {
  position: relative;
  row-gap: 20px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main__intro-info-box {
  max-width: 490px;
  width: 100%;
}
.main__intro-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 28px;
}
.main__intro-info {
  font-size: 34px;
  line-height: 54px;
  font-weight: 300;
}
.main__intro-info span {
  font-weight: 900;
  font-size: 38px;
  color: #007bff;
}
.main__intro-right-img {
  position: absolute;
  right: -7%;
  top: 0;
  width: 100%;
  height: 418px;
  z-index: -1;
}
.main__intro-right .ripple__img {
  bottom: -60px;
  position: absolute;
  z-index: -1;
  right: -29px;
  animation: topfade 1s ease-in-out infinite alternate;
}
.main__intro-right .litecoin__img {
  position: absolute;
  bottom: -45px;
  left: 332px;
  animation: topfade 1s ease-in-out infinite alternate;
}

.register__box {
  background: #fff;
  padding: 41px 41px 39px 44px;
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
}
.register__box .btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.register__box .btns a {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.register__box .or__text {
  margin: 19px 0 22px 0;
  text-align: center;
  font-size: 18px;
}

.main__statistics {
  margin-top: 97px;
}
.main__statistics .container {
  box-shadow: 0px 20px 45px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.main__statistics-header {
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #343a40;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 76px 19px 48px;
}
.main__statistics-header .statistics__header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 512px;
  width: 100%;
}
.main__statistics-header .statistics__header-title {
  font-size: 22px;
  font-weight: 900;
}
.main__statistics-header .statistics__header-info {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
}
.main__statistics-table {
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 13px 0 12px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.main__statistics-box {
  max-width: 50%;
  width: 100%;
}
.main__statistics-tr {
  padding: 7px 76px 7px 48px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.main__statistics-tr:hover {
  background: #e9e9e9;
}
.main__statistics-tr:last-child {
  margin-bottom: 0;
}
.main__statistics-tr .benefit_info {
  font-size: 17px;
}
.main__statistics .user {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.main__statistics .user__img {
  border-radius: 50%;
}
.main__statistics .user__name {
  font-size: 17px;
}
.main__statistics .user__rating {
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  line-height: 20px;
  background: #343a40;
  box-shadow: 0px 5px 10px 0px rgba(19, 20, 29, 0.4);
}
.main__statistics .user__rating.first {
  background: #ec9704;
  box-shadow: 0px 5px 10px 0px rgba(232, 154, 3, 0.4);
}
.main__statistics .user__rating.second {
  background: #a0a09f;
  box-shadow: 0px 5px 10px 0px rgba(160, 160, 159, 0.4);
}
.main__statistics .user__rating.third {
  background: #825b17;
  box-shadow: 0px 5px 10px 0px rgba(111, 68, 21, 0.4);
}
.main__statistics .line {
  width: 1px;
  background: #e2e2e2;
  margin: 9px 0;
}

.benefit {
  margin: 113px 0 109px 0;
}
.benefit__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin-top: 82px;
  row-gap: 49px;
}
.benefit__card {
  border: 2px solid #cfcfcf;
  padding: 0 28px 38px 28px;
  border-radius: 20px;
  text-align: center;
}
.benefit__card-img {
  background: #f5f5f5;
  width: -moz-fit-content;
  width: fit-content;
  margin: -15px auto 0 auto;
}
.benefit__card-title {
  font-size: 26px;
  font-weight: 500;
  margin: 28px 0 22px 0;
}
.benefit__card-info {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.works__cards {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 70px;
}
.works__right-box {
  margin-top: 162px;
}
.works__card {
  background: #fff;
  padding: 33px 33px 32px 32px;
  display: flex;
  align-items: start;
  gap: 23px;
  max-width: 505px;
  border-radius: 20px;
  margin-bottom: 129px;
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.works__card .line__bg {
  position: absolute;
  z-index: -1;
  width: 505px;
  height: 332px;
  top: -22%;
  left: 0;
  animation: topfade 1s ease-in-out infinite alternate;
}
.works__card .line__bg.rotate {
  transform: rotate(290deg);
}
.works__card .line__bg img {
  width: 100%;
  height: 100%;
}
.works__card:last-child {
  margin-bottom: 0;
}
.works__card-title {
  font-size: 24px;
  font-weight: 900;
}
.works__card-info {
  font-size: 18px;
  margin-top: 18px;
  line-height: 28px;
  font-weight: 300;
}
.works .line__box {
  margin-top: 88px;
  width: 243px;
  display: flex;
  justify-content: center;
}
.works .line__box .d {
  position: relative;
  width: 11px;
  height: 83%;
  background: #e2e2e2;
}
.works .line__box .border {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 53px;
  height: 53px;
  border: 2px solid #007bff;
  border-radius: 50%;
}
.works .line__box .border.one {
  top: 15px;
}
.works .line__box .border.two {
  top: 158px;
}
.works .line__box .border.three {
  top: 338px;
}
.works .line__box .border.four {
  top: auto;
  bottom: -37px;
}
.works .line__box .box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.works .line__box .box.one {
  top: -3px;
}
.works .line__box .box.two {
  top: 140px;
}
.works .line__box .box.two::before {
  right: -180%;
  left: auto;
}
.works .line__box .box.three {
  top: 320px;
}
.works .line__box .box.four {
  top: auto;
  bottom: -3px;
}
.works .line__box .box.four::before {
  right: -180%;
  left: auto;
}
.works .line__box .box .child__box {
  width: 37px;
  height: 37px;
  background: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  position: relative;
  box-shadow: 0px 15px 20px 0px rgba(0, 123, 255, 0.3);
}
.works .line__box .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -180%;
  width: 60px;
  height: 2px;
  background: #007bff;
}

.tariffs .container {
  z-index: 1;
}
.tariffs .tariffs_bitcoin,
.tariffs .tariffs_ethereum {
  z-index: -1;
}

.interface {
  margin: 100px 0 110px 0;
}
.interface .title__info {
  margin-top: 28px;
}
.interface__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 17px;
  margin: 71px 0 54px 0;
}
.interface__card {
  background: #fff;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
}
.interface__card:hover {
  border-color: #007bff;
  box-shadow: 0px 15px 20px 0px rgba(0, 123, 255, 0.3);
}
.interface .blue_btn {
  display: flex;
  margin: 0 auto;
}

.reviews .title_info {
  margin-top: 32px;
  margin-bottom: 63px;
}
.reviews .sliders {
  overflow: hidden;
}
.reviews .swiper {
  padding-bottom: 121px;
  overflow: visible;
}
.reviews .slide__box {
  background: #fff;
  padding: 26px 26px 48px 26px;
  border-radius: 20px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.reviews .slide__box-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviews .slide__box .user__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}
.reviews .slide__box .user__rating {
  display: flex;
  align-items: center;
  gap: 17px;
}
.reviews .slide__box .date {
  font-size: 15px;
  font-weight: 300;
  color: #9babba;
}
.reviews .slide__box .slide__info {
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
}

.faq .title_info {
  margin: 26px auto 56px auto;
}

.bonus {
  margin: 100px 0 10px 0;
}
.bonus__images img {
  position: absolute;
  filter: drop-shadow(0px 17px 15px rgba(31, 200, 150, 0.3));
  animation: topfade 1s ease-in-out infinite alternate;
  z-index: -1;
}
.bonus__images .img__1 {
  top: 49px;
  left: 82px;
}
.bonus__images .img__2 {
  bottom: -41px;
  left: 218px;
}
.bonus__images .img__3 {
  top: -18px;
  right: 306px;
}
.bonus__images .img__4 {
  top: 23px;
  right: 115px;
}
.bonus__images .img__5 {
  bottom: 32px;
  right: 81px;
}
.bonus .container {
  position: relative;
  background: #e1e1e1;
  text-align: center;
  padding: 40px 20px 45px 20px;
  border-radius: 20px;
  z-index: 1;
}
.bonus__title {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}
.bonus .blue_btn {
  margin: 0 auto;
}
.bonus__info {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 34px;
}
.bonus__info span {
  font-weight: 900;
  color: #007bff;
}

.media__table-header {
  display: none;
}

@media screen and (max-width: 992px) {
  .register__box {
    margin: 0 auto;
  }
  .main__intro-right-img {
    right: -31%;
    top: -15px;
    height: 355px;
  }
  .tariffs_ethereum {
    left: 0;
    top: 0;
  }
  .tariffs_bitcoin {
    top: 29%;
    right: 0;
  }
  .main__intro-right .litecoin__img {
    left: 0;
  }
  .main__statistics .container {
    overflow-x: hidden;
  }
  .main__statistics-table {
    flex-direction: column;
  }
  .main__statistics-header {
    gap: 25px;
    padding: 15px 20px 19px 20px;
  }
  .main__statistics-tr {
    padding: 7px 20px 7px 20px;
  }
  .media__table-header {
    display: block;
  }
  .statistics__header-box.media__none {
    display: none;
  }
  .main__statistics-box {
    max-width: 100%;
  }
  .main__statistics-header .statistics__header-box {
    max-width: 100%;
  }
  .range_btn {
    display: flex;
    justify-content: center;
  }
  .tariffs_funds-number p {
    font-size: 16px;
  }
  .tariffs_funds .complete_box {
    width: 15%;
  }
  .works .line__box {
    display: none;
  }
  .works__right-box {
    margin-top: 0;
  }
  .works__card {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .works__cards {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .works__cards > div {
    width: 100%;
  }
  .bonus__info {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .bonus__title {
    font-size: 26px;
    line-height: 30px;
  }
  .bonus__images .img__1 {
    left: 3%;
    width: 50px;
    top: 0;
  }
  .bonus__images .img__4 {
    right: 3%;
  }
  .bonus__images .img__5 {
    bottom: 0;
  }
  .bonus__images .img__2 {
    left: 16%;
  }
}
@media screen and (max-width: 768px) {
  .main__statistics-header .statistics__header-box {
    min-width: 65%;
  }
  .main__statistics-box {
    min-width: 65%;
  }
  .main__statistics-tr .benefit_info {
    white-space: nowrap;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding: 50px 0;
  }
  .footer .social_media {
    justify-content: start;
  }
  .bonus__images .img__3,
  .bonus__images .img__4,
  .bonus__images .img__2 {
    display: none;
  }
  .bonus__images .img__5 {
    right: 0;
  }
  .bonus__images .img__1 {
    left: 8px;
    top: -46px;
  }
  .main__statistics-header .statistics__header-box {
    min-width: 100%;
    max-width: 100%;
  }
  .main__statistics-header .statistics__header-title {
    font-size: 18px;
  }
  .main__statistics-header .statistics__header-info {
    white-space: nowrap;
  }
  .main__statistics-box {
    min-width: 90%;
    max-width: 100%;
  }
  .main__intro {
    margin-top: 20px;
  }
  .register__box {
    padding: 30px 25px 30px 25px;
  }
  .register__box .or__text {
    margin: 10px 0;
  }
  .main__intro-right-img {
    display: none;
  }
  .main__intro-info-box {
    max-width: 100%;
  }
  .main__intro-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .main__intro-info {
    font-size: 20px;
    line-height: 23px;
  }
  .main__intro-info span {
    font-size: 20px;
  }
  .main__intro-info br {
    display: none;
  }
  .benefit__cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .benefit__card {
    padding: 0 20px 28px 20px;
  }
  .benefit__card-title {
    font-size: 22px;
  }
  .tariffs_funds-number p {
    font-size: 12px;
    line-height: 16px;
  }
  .tariffs_funds-number {
    gap: 10px;
  }
  .tariffs_funds .range_slider-dot.complete {
    width: 30px;
    height: 30px;
  }
  .tariffs_funds .range_slider-dot .check_box {
    width: 18px;
    height: 18px;
  }
  .tariffs_funds-range {
    margin-top: 20px;
  }
  .tariffs_funds .range_info {
    font-size: 16px;
    margin: 20px 0 20px 0;
  }
  .works__card {
    flex-wrap: wrap;
    padding: 25px;
  }
  .interface__cards {
    margin: 40px 0;
  }
  .interface {
    margin: 50px 0;
  }
  .reviews .title_info {
    margin-top: 10px;
    margin-bottom: 45px;
  }
  .reviews .slide__box-top {
    flex-wrap: wrap;
  }
  .reviews .swiper {
    padding-bottom: 51px;
  }
  .faq .title_info {
    margin: 20px 0;
  }
  .accordion__header {
    padding: 20px;
  }
  .accordion__content-text {
    padding: 0 20px 20px 20px;
    font-size: 16px;
  }
  .accordion .accordion__btn {
    right: -10px;
    width: 30px;
    height: 30px;
  }
  .accordion .accordion__btn img {
    width: 50%;
  }
  .accordion__header-text {
    font-size: 18px;
  }
  .bonus__title {
    font-size: 20px;
  }
  .bonus__info {
    line-height: 20px;
    margin: 20px 0;
  }
  .tariffs_card-line {
    margin: 20px auto;
  }
  .works__cards {
    margin-top: 50px;
  }
  .tariffs {
    margin-bottom: 50px;
  }
  .main__statistics-header {
    padding: 15px 20px 15px 20px;
  }
}
@media screen and (max-width: 440px) {
  .tariffs_ethereum {
    width: 50px;
    top: 16px;
  }
  .main__statistics-header .statistics__header-info img {
    display: none;
  }
  .main__statistics-header .statistics__header-info p,
  .main__statistics-header .statistics__header-title {
    font-size: 16px;
  }
}
.hide {
  display: none;
}

.lesson .title-box {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}
.lesson .title-box .show__mode-lessons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.lesson .title-box .show__mode-lessons button svg {
  transition: all 0.2s linear;
}
.lesson .title-box .show__mode-lessons.rotate button svg {
  transform: rotate(180deg);
}
.lesson .title-box button {
  width: 56px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.lesson .title-box p {
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
}
.lesson .progress {
  margin: 40px 0 92px 0;
  text-align: center;
}
.lesson .progress__title {
  font-size: 28px;
  line-height: 28px;
}
.lesson .progress__title b {
  font-weight: 900;
}
.lesson .progress__title span {
  color: #007bff;
  font-weight: 900;
}
.lesson .progress .progress__box {
  max-width: 959px;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #cfd0d2;
  margin: 0 auto;
  padding: 5px;
  margin-top: 56px;
}
.lesson .progress .progress__box-complate {
  background: #007bff;
  width: 50%;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0 10px 20px 0 rgba(0, 123, 255, 0.3);
}
.lesson .select__lesson-title {
  font-size: 30px;
  line-height: 48px;
  font-weight: 900;
}
.lesson .lesson__accordion {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 17px;
  position: relative;
  border: 2px solid transparent;
}
.lesson .lesson__accordion.active .arrow__down-box img {
  transform: rotate(180deg);
}
.lesson .lesson__accordion.closed__accordion {
  overflow: visible;
}
.lesson .lesson__accordion-header {
  display: flex;
  align-items: stretch;
  gap: 1px;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 0;
}
.lesson .lesson__accordion-header.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.lesson .lesson__accordion-header-info {
  font-size: 19px;
}
.lesson .lesson__accordion-header-info.nowrap {
  white-space: nowrap;
}
.lesson .lesson__accordion .left__box {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #e2e2e2;
  padding: 25px 30px 27px 40px;
}
.lesson .lesson__accordion .right__box {
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 27px 25px 25px;
  background: #fff;
  cursor: pointer;
}
.lesson .lesson__accordion .arrow__down-box {
  width: 32px;
  height: 32px;
  background: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson .lesson__accordion .arrow__down-box img {
  transition: all 0.2s linear;
}
.lesson .lesson__accordion .closed__btn {
  background: #ed3333;
  border-radius: 20px;
  width: 108px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  position: absolute;
  top: -5px;
  right: -3px;
}
.lesson .lesson__accordion-content {
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  padding: 0;
}
.lesson .lesson__accordion-content p {
  padding: 25px 27px 25px 25px;
  font-size: 18px;
  line-height: 25px;
}
.lesson .watch__lesson {
  margin: 60px 0 70px 0;
}
.lesson .watch__lesson-title {
  font-size: 26px;
  line-height: 32px;
}
.lesson .watch__lesson-info {
  margin-top: 27px;
  font-size: 18px;
  line-height: 26px;
}
.lesson .watch__video {
  margin: 53px auto 0 auto;
  max-width: 1164px;
  height: 665px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.lesson .watch__video .play__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #007bff;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.consultations .container {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-right: 5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 94px;
  position: relative;
  z-index: 1;
}
.consultations .container .left__box {
  padding: 51px 0 53px 60px;
}
.consultations__title {
  font-size: 32px;
  font-weight: 900;
}
.consultations__info {
  font-size: 19px;
  line-height: 28px;
  margin: 30px 0 40px 0;
}
.consultations__img {
  width: 384px;
  height: 388px;
  transform: translate(-35px, 35px);
}
.consultations .yellow__btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.resources__title {
  font-size: 34px;
  text-align: center;
  margin: 90px 0 32px 0;
}
.resources__info {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  max-width: 1126px;
  margin: 0 auto 98px auto;
}
.resources__info a {
  color: #007bff;
  border-bottom: 1px dotted #007bff;
}
.resources .consultations__info {
  max-width: 781px;
}
.resources .telegram__img {
  position: absolute;
  top: 34%;
  right: 23%;
  z-index: -1;
  width: 105px;
  height: 75px;
  filter: blur(3px);
}
.resources .consultations__img {
  height: 301px;
  width: 453px;
  transform: translateY(20px);
  position: absolute;
  bottom: 0;
  right: 0;
}

.illustration {
  height: 100%;
  width: 453px;
}

@media screen and (max-width: 1055px) {
  .resources .consultations__img {
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .lesson .progress {
    margin: 40px 0;
  }
  .lesson .progress .progress__box {
    margin-top: 30px;
    max-width: 100%;
  }
  .lesson .select__lesson-title {
    margin-bottom: 10px;
  }
  .consultations .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .resources .telegram__img {
    position: absolute;
    top: 92%;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .consultations__title {
    font-size: 22px;
  }
  .consultations__info {
    font-size: 16px;
    margin: 20px 0;
  }
  .consultations .container .left__box {
    padding: 25px;
  }
  .lesson .lesson__accordion .right__box,
  .lesson .lesson__accordion .left__box,
  .lesson .lesson__accordion-content p {
    padding: 20px;
  }
  .lesson .lesson__accordion-header-info {
    font-size: 16px;
  }
  .lesson .lesson__accordion .left__box {
    gap: 5px;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .lesson .watch__lesson-title {
    font-size: 22px;
  }
  .lesson .watch__lesson-info {
    font-size: 20px;
  }
  .lesson .watch__video {
    height: 400px;
  }
  .lesson .watch__video .play__btn {
    width: 50px;
    height: 50px;
  }
  .lesson .watch__video .play__btn img {
    width: 70%;
    height: 70%;
  }
  .lesson .lesson__accordion-header {
    padding: 0;
  }
  .lesson .lesson__accordion .arrow__down-box {
    min-width: 32px;
  }
  .lesson .lesson__accordion .right__box {
    gap: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .lesson .progress__title {
    font-size: 22px;
  }
  .resources .consultations__img {
    width: 100%;
  }
  .consultations__img {
    transform: translate(0);
    width: 100%;
  }
  .consultations__img svg {
    width: 100%;
  }
}
.tariff {
  margin-bottom: 99px;
}
.tariff .blue_btn {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-top: 63px;
}
.tariff .tariff__title {
  text-align: center;
  font-size: 38px;
}
.tariff .title_info {
  margin-bottom: 83px;
}
.tariff__table {
  min-width: 1245px;
  display: flex;
  padding-top: 2px;
  padding-bottom: 53px;
}
.tariff__table-td {
  position: relative;
  transition: all 0.2s linear;
}
.tariff__table-td.check__td {
  min-width: 260px;
  width: 100%;
  max-width: 246px;
  text-align: center;
}
.tariff__table-td.check__td p {
  margin: 0 auto;
  font-size: 22px;
}
.tariff__table-td.check__td.checked {
  background: #fff;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}
.tariff__table-td.check__td.checked .tariff__td-bottom {
  border-color: transparent;
}
.tariff__table-td.check__td.checked .tariff__td-top::before {
  background: #007bff;
}
.tariff__table-td.check__td .tariff__td-bottom {
  align-items: center;
}
.tariff__table-td.first {
  max-width: 500px;
  width: 100%;
}
.tariff__table-td.first .tariff__td-top {
  padding-left: 26px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tariff__table-td.last .tariff__td-top {
  padding-right: 41px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tariff__table-td .tariff__td-bottom:last-child,
.tariff__table-td .tariff__td-bottom.last__box {
  border: none;
  height: 60px;
}
.tariff__table-td .tariff__td-bottom:last-child p,
.tariff__table-td .tariff__td-bottom.last__box p {
  font-weight: 900;
}
.tariff__td-top {
  background: #343a40;
  color: #fff;
  padding: 15px 0;
  position: relative;
}
.tariff__td-top::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}
.tariff__td-top h3 {
  font-size: 22px;
  font-weight: 900;
  line-height: 32px;
}
.tariff__td-bottom {
  display: flex;
  gap: 12px;
  align-items: start;
  margin-top: 22px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  position: relative;
  height: 150px;
}
.tariff__td-bottom.top {
  align-items: start !important;
}
.tariff__td-bottom svg {
  min-width: 24px;
}
.tariff__td-bottom:first-child {
  margin-top: 38px;
}
.tariff__td-bottom h4 {
  font-size: 20px;
  margin-bottom: 19px;
  font-weight: 900;
}
.tariff__td-bottom p {
  font-size: 17px;
  line-height: 24px;
}
.tariff .check__box {
  background: #37c251;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 39.5px auto;
  box-shadow: 0 10px 15px 0 rgba(55, 194, 81, 0.3);
}
.tariff .check__box.danger {
  background: #ed3333;
  box-shadow: 0 10px 15px 0 rgba(237, 51, 51, 0.3);
}
.tariff .top__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  font-size: 18px;
  color: #53677c;
  width: 90%;
  line-height: 18px;
}
.tariff .gray_btn {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.tariff .pending_btn {
  box-shadow: 0 10px 15px 0 rgba(253, 126, 20, 0.3);
}
.tariff .gray_btn,
.tariff .pending_btn {
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 23px;
  font-weight: normal;
  font-size: 16px;
  margin: 0 auto;
}
.tariff .check__input {
  position: absolute;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
}
.tariff .check__input input {
  display: none;
}
.tariff .check__input input:checked + label {
  background: #37c251;
}
.tariff .check__input input:checked + label::before {
  transform: translate(-50%, -50%) scale(1);
}
.tariff .check__input label {
  width: 26px;
  height: 26px;
  background: #e2e2e2;
  display: block;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
.tariff .check__input label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.1s linear;
  width: 10px;
  height: 8px;
  background: url(../../images/icons/tick-white.png) no-repeat;
  background-size: contain;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (max-width: 1310px) {
  .tariff__table-wrap {
    overflow-x: scroll;
  }
  .tariff__table-wrap::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .tariff__table-td.first {
    max-width: 330px;
  }
  .tariff__td-bottom {
    height: 275px;
  }
  .tariff__table-td.check__td {
    max-width: 225px;
    min-width: 225px;
  }
  .tariff__table {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
@media screen and (max-width: 567px) {
  .tariff .tariff__title {
    font-size: 20px;
    margin-top: 50px;
  }
  .tariff__td-bottom h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tariff__td-bottom {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .tariff__table-td.first {
    max-width: 260px;
    width: 260px;
  }
  .tariff__td-bottom {
    height: 195px;
  }
  .tariff__table-td.check__td {
    max-width: 200px;
    min-width: 200px;
  }
  .tariff__table-td.check__td p {
    font-size: 16px;
  }
  .tariff__td-top h3 {
    font-size: 17px;
  }
  .tariff .gray_btn,
  .tariff .pending_btn {
    font-size: 14px;
    padding: 0 10px;
  }
  .tariff__td-bottom p {
    font-size: 15px;
  }
  .tariff .title_info {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .tariff .blue_btn {
    margin-top: 30px;
  }
  .faq .accordion__header {
    padding: 20px;
  }
  .faq .accordion__header-text {
    font-size: 18px;
  }
  .faq .accordion__content-text {
    padding: 20px;
    font-size: 16px;
  }
  .faq .accordion .accordion__btn {
    right: -3px;
  }
  .tariff {
    margin-bottom: 50px;
  }
}
.swiper__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 10;
  margin-top: -24px;
}
.swiper__btns .swiper-btn-next,
.swiper__btns .swiper-btn-prev {
  cursor: pointer;
}
.swiper__btns .swiper-btn-next:hover svg path,
.swiper__btns .swiper-btn-prev:hover svg path {
  fill: #007bff;
}
.swiper__btns .swiper-btn-next svg,
.swiper__btns .swiper-btn-prev svg {
  width: 24px;
  height: 21px;
}
.swiper__btns .swiper-btn-next svg path,
.swiper__btns .swiper-btn-prev svg path {
  transition: all 0.2s linear;
  fill: #d0d0d0;
}

.swiper-slide {
  margin-top: 64px;
  transition: all 0.3s linear;
}

.swiper-slide-active {
  margin-top: 0;
}/*# sourceMappingURL=main.css.map */