.blue_btn,
.black_btn,
.gray_btn,
.yellow__btn,
.teal_btn {
  background: #007bff;
  padding: 14px 35px;
  color: #fff;
  border-radius: 23px;
  transition: background 0.3s ease;
  font-size: 17px;
  width: fit-content;
  font-weight: 600;
  box-shadow: 0px 10px 15px 0px rgba(0, 123, 255, 0.3);

  &.no_shadow {
    box-shadow: none;
  }
  &:hover {
    background: #046ee0;
  }
  &.flex {
    display: flex;
    align-items: center;
    gap: 13px;
  }
}
.black_btn {
  background: #343a40;
  box-shadow: none;

  &:hover {
    background: #414850;
  }
}
.gray_btn {
  box-shadow: none;
  background: #e2e2e2;
  color: #343a40;

  &:hover {
    background: #d1d1d1;
    color: #101010;
  }
}
.teal_btn {
  background: #12a2b8;
  box-shadow: 0px 10px 15px 0px rgb(50, 162, 183, 0.2);

  &:hover {
    background: #0b899c;
  }
}
.active_btn,
.stopped_btn,
.pending_btn {
  font-size: 16px;
  font-weight: normal;
  padding: 0 18px;
  height: 32px;
  line-height: 32px;
  background: #28a745;
  color: #fff;
  transition: all 0.3s ease;
  width: fit-content;
  border-radius: 16px;

  &:hover {
    background: #218739;
  }
}
.stopped_btn {
  background: #ed3333;

  &:hover {
    background: #d92727;
  }
}
.pending_btn {
  background: #fd7e14;

  &:hover {
    background: #e9710e;
  }
}
.yellow__btn {
  background: #ffc107;
  color: #121921;
  box-shadow: 0px 15px 30px 0px rgba(255, 193, 7, 0.15);

  &:hover {
    background: #e4ad06;
  }
}

@media screen and (max-width: 992px) {
  .blue_btn,
  .black_btn,
  .gray_btn {
    font-size: 16px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
