/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}
a {
  display: inline-block;
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
body {
  margin: 0;
  padding: 0;

  &.dark {
    .discount_card-right {
      background: #121921;
    }
    .footer {
      background: #0e141a;
    }
    .light_icon,
    .light_icon .st1 {
      fill: #fff;
    }
    .blue_btn {
      background-color: #12a2b8;
    }
    .dark_bg {
      background-color: #1d2936;
    }
    .tariffs_funds .range_slider-dot.complete {
      background-color: #1d2936;
    }
    .midnight_blue {
      background-color: #1d2936 !important;
    }
    .dark_border {
      border-color: #1d2936;
    }
    .light_text {
      color: #fff !important;
    }
    .nav .nav_link.active,
    .nav .nav_link:hover,
    .up_money-info span {
      color: #12a2b8 !important;
    }
    .blue_btn {
      box-shadow: 0px 10px 15px 0px rgba(18, 162, 184, 0.15);
    }
    .active_btn,
    .discount_card .refback_box {
      background: #20c997;
    }
    .pending_btn {
      background: #ffc107;
    }
    .benefit_info {
      color: #20c997;
    }
    .active_btn,
    .stopped_btn,
    .pending_btn {
      color: #121921;
    }
    .discount_card .refback_box p {
      color: #121921;
      font-weight: 600;
    }
    .tariffs_card-line {
      background: #2c3e50;
    }
    .tariffs_funds-number p.complete {
      color: #20c997;
    }
    .tariffs_funds .complete_box,
    .tariffs_funds .range_slider-dot .check_box {
      background: #20c997;
    }
    .tariffs_funds .range_slider-dot .check_box {
      box-shadow: 0px 10px 25px 0px rgba(32, 201, 151, 0.35);
    }
    .tariffs_funds-number p {
      color: #12a2b8;
    }
    .footer .social_media a {
      background: #162331;
    }
    .up_money .container {
      background: url(../images/dark_up-money.png) no-repeat;
      background-size: contain;
      background-position: top right;
    }
    .tariffs_bitcoin,
    .tariffs_ethereum {
      opacity: 0.3;
    }
    .up_money .container {
      box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.3);
    }
    .discount_card-left .dark_img {
      display: none;
    }
    .discount_card-left .light_img {
      display: block;
      margin: 0 auto;
    }
  }
}
.wrapper {
  overflow: hidden;
}
