/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}
a {
  display: inline-block;
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
body {
  margin: 0;
  padding: 0;

  &.dark {
    .discount_card-right {
      background: #121921;
    }
    .dark_blue {
      color: #12a2b8 !important;
    }
    .dark_blue-bg {
      background: #12a2b8 !important;
    }
    .dark_green {
      color: #1fc896 !important;
    }
    .footer {
      background: #0e141a;
    }
    .light_icon,
    .light_icon,
    .light_icon .st1 .light_icon .st0,
    .close__nav-btn svg {
      fill: #fff;
      stroke: #fff;
    }
    .blue_btn {
      background-color: #12a2b8;
    }
    .dark_bg {
      background-color: #1d2936 !important;
    }
    .tariffs_funds .range_slider-dot.complete {
      background-color: #1d2936;
    }
    .midnight_blue {
      background-color: #1d2936 !important;
    }
    .dark_border {
      border-color: #1d2936;
    }
    .dark_border-two {
      border-color: #243444;
    }
    .light_text {
      color: #fff !important;
    }
    .nav .nav_link.active,
    .nav .nav_link:hover,
    .up_money-info span {
      color: #12a2b8 !important;
    }
    .blue_btn {
      box-shadow: 0px 10px 15px 0px rgba(18, 162, 184, 0.15);
    }
    .active_btn,
    .discount_card .refback_box {
      background: #20c997;
    }
    .pending_btn {
      background: #ffc107;
    }
    .benefit_info {
      color: #20c997;
    }
    .active_btn,
    .stopped_btn,
    .pending_btn {
      color: #121921;
    }
    .discount_card .refback_box p {
      color: #121921;
      font-weight: 600;
    }
    .tariffs_card-line {
      background: #2c3e50;
    }
    .tariffs_funds-number p.complete {
      color: #20c997;
    }
    .tariffs_funds .complete_box,
    .tariffs_funds .range_slider-dot .check_box {
      background: #20c997;
    }
    .tariffs_funds .range_slider-dot .check_box {
      box-shadow: 0px 10px 25px 0px rgba(32, 201, 151, 0.35);
    }
    .tariffs_funds-number p {
      color: #12a2b8;
    }
    .footer .social_media a {
      background: #162331;
    }
    .up_money .container {
      background: url(../images/dark_up-money.png) no-repeat;
      background-size: contain;
      background-position: top right;
    }
    .tariffs_bitcoin,
    .tariffs_ethereum {
      opacity: 0.3;
    }
    .up_money .container,
    .main__statistics .container,
    .register__box,
    .reviews .slide__box {
      box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.3);
    }
    .dark_img {
      display: block;
    }
    .light_img {
      display: none;
    }
    .discount_card-info span {
      color: #12a2b8;
    }
    .cripto__catalog-tr .cripto__price {
      color: #53677c;
    }
    .search .check__box label .icon__box {
      background: #18222d;
    }
    .cripto__catalog-header {
      background: #253444;
    }
    .black_btn {
      background: #121921;
    }
    .gray_btn {
      background: #253444;
      color: #fff;

      svg path {
        fill: #fff;
      }
    }
    .register__box .btns .gray_btn {
      background: #fff;
      color: #101010;
    }
    .main__statistics-header,
    .main__statistics-tr:hover {
      background: #18222d;
    }
    .main__statistics .line,
    .works .line__box .box .child__box,
    .works .line__box .box::before,
    .accordion .accordion__btn {
      background: #12a2b8;
    }
    .works .line__box .border,
    .accordion .accordion__btn {
      border-color: #12a2b8;
    }
    .accordion.active .accordion__btn {
      background: #121921;
    }
    .works .line__box .box .child__box {
      box-shadow: 0px 15px 20px 0px rgba(18, 162, 184, 0.3);
    }
    .benefit__card-img {
      background: #121921;
    }
    .b-class .st1,
    .a-class .st1,
    .io .st0,
    .gemini .st0,
    .bite .st2,
    .minus__icon .st0,
    .lesson-icon .st1 {
      fill: #fff;
    }
    .huobi .st0 {
      fill: #282d5b;
    }
    .lesson-icon .st0 {
      fill: #12a1b8;
    }
    .benefit__card {
      border-color: #2a3c4b;
    }

    @media screen and (max-width: 700px) {
      .nav {
        background: #121921;
      }
    }
    .search__form input {
      color: #fff;
    }
    .lesson .progress .progress__box-complate {
      box-shadow: 0 10px 20px 0 rgba(18, 162, 184, 0.3);
    }
    .lesson .progress .progress__box {
      border-color: #333e5a;
    }
    .lesson .lesson__accordion {
      border-color: #1d2936;
      background: #1d2936;
    }
    .lesson .lesson__accordion .left__box {
      background: #1d2936;
    }
    .lesson .lesson__accordion .right__box {
      background: #121921;
    }
    .lesson .lesson__accordion {
      transition: all 0.3s linear;

      &:hover {
        border-color: #12a1b8;

        .lesson__accordion-header-info.nowrap {
          color: #12a1b8;
        }
      }
      &.active {
        border-color: #12a1b8;

        .lesson__accordion-header-info.nowrap {
          color: #12a1b8;
        }
      }
    }
    .illustration .st0 {
      fill: #17222c;
    }
    .illustration .st2,
    .illustration .st3 {
      fill: #12a1b8;
    }
    .dark_blue-border {
      border-color: #12a1b8 !important;
    }
    .tariff__table-td.check__td.checked {
      background: #18222d;
    }
    .tariff .check__box {
      background: #20c997;
      box-shadow: 0 10px 15px 0 rgba(32, 251, 151, 0.3);
    }
    .tariff .check__box.danger {
      background: #ed3333;
      box-shadow: 0 10px 15px 0 rgba(237, 51, 51, 0.3);
    }
    .tariff .check__input label {
      background: #18222d;
    }
    .tariff__td-bottom {
      border-color: #1d2936;
    }
    .tariff .pending_btn {
      box-shadow: 0 10px 15px 0 rgba(255, 193, 7, 0.1);
    }
    .tariff__table-td.check__td.checked .tariff__td-top::before {
      background: #12a2b8;
    }
    .tariff .check__input input:checked + label {
      background: #20c997;
    }
  }
}
.wrapper {
  overflow: hidden;
}
.dark_img {
  display: none;
}
