/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
body {
  margin: 0;
  padding: 0;

  &.dark {
    .light_icon {
      fill: #fff;
    }
    .blue_btn {
      background: #12a2b8;
    }
    .dark_bg {
      background: #1d2936;
    }
    .midnight_blue {
      background: #1d2936 !important;
    }
    .dark_border {
      border-color: #1d2936;
    }
  }
}
.wrapper {
  overflow: hidden;
}
