.main__intro {
  margin-top: 50px;
  .container.flex {
    position: relative;
    row-gap: 20px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-info-box {
    max-width: 490px;
    width: 100%;
    // margin-top: 37px;
  }
  &-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 28px;
  }
  &-info {
    font-size: 34px;
    line-height: 54px;
    font-weight: 300;

    span {
      font-weight: 900;
      font-size: 38px;
      color: #007bff;
    }
  }
  &-right {
    &-img {
      position: absolute;
      right: -7%;
      top: 0;
      width: 100%;
      height: 418px;
      z-index: -1;
    }
    .ripple__img {
      bottom: -60px;
      position: absolute;
      z-index: -1;
      right: -29px;
      animation: topfade 1s ease-in-out infinite alternate;
    }
    .litecoin__img {
      position: absolute;
      bottom: -45px;
      left: 332px;
      animation: topfade 1s ease-in-out infinite alternate;
    }
  }
}
.register__box {
  background: #fff;
  padding: 41px 41px 39px 44px;
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
  .btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
  .or__text {
    margin: 19px 0 22px 0;
    text-align: center;
    font-size: 18px;
  }
}

// main__statistics
.main__statistics {
  margin-top: 97px;
  .container {
    box-shadow: 0px 20px 45px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  &-header {
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #343a40;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 76px 19px 48px;

    .statistics__header-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 512px;
      width: 100%;
    }
    .statistics__header-title {
      font-size: 22px;
      font-weight: 900;
    }
    .statistics__header-info {
      display: flex;
      align-items: center;
      gap: 14px;
      font-size: 18px;
    }
  }
  &-table {
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px 0 12px 0;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &-box {
    // max-width: 512px;
    max-width: 50%;
    width: 100%;
  }
  &-tr {
    padding: 7px 76px 7px 48px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: #e9e9e9;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .benefit_info {
      font-size: 17px;
    }
  }
  .user {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    &__img {
      border-radius: 50%;
    }
    &__name {
      font-size: 17px;
    }

    &__rating {
      position: absolute;
      bottom: 0;
      left: -4px;
      width: 20px;
      height: 20px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 6px;
      line-height: 20px;
      background: #343a40;
      box-shadow: 0px 5px 10px 0px rgba(19, 20, 29, 0.4);

      &.first {
        background: #ec9704;
        box-shadow: 0px 5px 10px 0px rgba(232, 154, 3, 0.4);
      }
      &.second {
        background: #a0a09f;
        box-shadow: 0px 5px 10px 0px rgba(160, 160, 159, 0.4);
      }
      &.third {
        background: #825b17;
        box-shadow: 0px 5px 10px 0px rgba(111, 68, 21, 0.4);
      }
    }
  }
  .line {
    width: 1px;
    background: #e2e2e2;
    margin: 9px 0;
  }
}

// benefit
.benefit {
  margin: 113px 0 109px 0;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
    column-gap: 22px;
    margin-top: 82px;
    row-gap: 49px;
  }
  &__card {
    border: 2px solid #cfcfcf;
    padding: 0 28px 38px 28px;
    border-radius: 20px;
    text-align: center;

    &-img {
      background: #f5f5f5;
      width: fit-content;
      margin: -15px auto 0 auto;
    }
    &-title {
      font-size: 26px;
      font-weight: 500;
      margin: 28px 0 22px 0;
    }
    &-info {
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}

// works
.works {
  &__cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 70px;
  }
  &__right-box {
    margin-top: 162px;
  }
  &__card {
    background: #fff;
    padding: 33px 33px 32px 32px;
    display: flex;
    align-items: start;
    gap: 23px;
    max-width: 505px;
    border-radius: 20px;
    margin-bottom: 129px;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    .line__bg {
      position: absolute;
      z-index: -1;
      width: 505px;
      height: 332px;
      top: -22%;
      left: 0;
      animation: topfade 1s ease-in-out infinite alternate;
      &.rotate {
        transform: rotate(290deg);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-size: 24px;
      font-weight: 900;
    }
    &-info {
      font-size: 18px;
      margin-top: 18px;
      line-height: 28px;
      font-weight: 300;
    }
  }

  .line__box {
    margin-top: 88px;
    width: 243px;
    display: flex;
    justify-content: center;
    .d {
      position: relative;
      width: 11px;
      height: 83%;
      background: #e2e2e2;
    }
    .border {
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 53px;
      height: 53px;
      border: 2px solid #007bff;
      border-radius: 50%;

      &.one {
        top: 15px;
      }
      &.two {
        top: 158px;
      }
      &.three {
        top: 338px;
      }
      &.four {
        top: auto;
        bottom: -37px;
      }
    }
    .box {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      &.one {
        top: -3px;
      }

      &.two {
        top: 140px;

        &::before {
          right: -180%;
          left: auto;
        }
      }
      &.three {
        top: 320px;
      }
      &.four {
        top: auto;
        bottom: -3px;

        &::before {
          right: -180%;
          left: auto;
        }
      }

      .child__box {
        width: 37px;
        height: 37px;
        background: #007bff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        position: relative;
        box-shadow: 0px 15px 20px 0px rgba(0, 123, 255, 0.3);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -180%;
        width: 60px;
        height: 2px;
        background: #007bff;
      }
    }
  }
}
// tariffs
.tariffs {
  .container {
    z-index: 1;
  }
  .tariffs_bitcoin,
  .tariffs_ethereum {
    z-index: -1;
  }
}
// intrface
.interface {
  margin: 100px 0 110px 0;

  .title__info {
    margin-top: 28px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    column-gap: 20px;
    row-gap: 17px;
    margin: 71px 0 54px 0;
  }
  &__card {
    background: #fff;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94px;
    border-radius: 16px;
    border: 1px solid transparent;
    transition: all 0.3s linear;

    &:hover,
    &.active {
      border-color: #007bff;
      box-shadow: 0px 15px 20px 0px rgba(0, 123, 255, 0.3);
    }
  }
  .blue_btn {
    display: flex;
    margin: 0 auto;
  }
}

// reviews
.reviews {
  .title_info {
    margin-top: 32px;
    margin-bottom: 63px;
  }
  .sliders {
    overflow: hidden;
    // padding-left: 62px;
    // padding-right: 62px;
  }
  .swiper {
    padding-bottom: 121px;
    overflow: visible;
  }
  .slide__box {
    background: #fff;
    padding: 26px 26px 48px 26px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);

    &-top {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .user__name {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 14px;
    }
    .user__rating {
      display: flex;
      align-items: center;
      gap: 17px;
    }
    .date {
      font-size: 15px;
      font-weight: 300;
      color: #9babba;
    }
    .slide__info {
      margin-top: 27px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.faq {
  .title_info {
    margin: 26px auto 56px auto;
  }
}

// bonus
.bonus {
  margin: 100px 0 10px 0;
  &__images {
    img {
      position: absolute;
      filter: drop-shadow(0px 17px 15px rgba(31, 200, 150, 0.3));
      animation: topfade 1s ease-in-out infinite alternate;
      z-index: -1;
    }
    .img__1 {
      top: 49px;
      left: 82px;
    }
    .img__2 {
      bottom: -41px;
      left: 218px;
    }
    .img__3 {
      top: -18px;
      right: 306px;
    }
    .img__4 {
      top: 23px;
      right: 115px;
    }
    .img__5 {
      bottom: 32px;
      right: 81px;
    }
  }
  .container {
    position: relative;
    background: #e1e1e1;
    text-align: center;
    padding: 40px 20px 45px 20px;
    border-radius: 20px;
    z-index: 1;
  }
  &__title {
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
  }
  .blue_btn {
    margin: 0 auto;
  }
  &__info {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 34px;
    span {
      font-weight: 900;
      color: #007bff;
    }
  }
}
.media__table-header {
  display: none;
}

@media screen and (max-width: 992px) {
  .register__box {
    margin: 0 auto;
  }
  .main__intro-right-img {
    right: -31%;
    top: -15px;
    height: 355px;
  }
  .tariffs_ethereum {
    left: 0;
    top: 0;
  }
  .tariffs_bitcoin {
    top: 29%;
    right: 0;
  }
  .main__intro-right .litecoin__img {
    left: 0;
  }
  .main__statistics .container {
    overflow-x: hidden;
  }
  .main__statistics-table {
    flex-direction: column;
  }
  .main__statistics-header {
    gap: 25px;
    padding: 15px 20px 19px 20px;
  }
  .main__statistics-tr {
    padding: 7px 20px 7px 20px;
  }
  .statistics__header-box.media__none {
    display: none;
  }
  .main__statistics-box {
    max-width: 100%;

    &:last-child {
      display: none;
    }
  }
  .main__statistics-header .statistics__header-box {
    max-width: 100%;
  }
  .range_btn {
    display: flex;
    justify-content: center;
  }
  .tariffs_funds-number p {
    font-size: 16px;
  }
  .tariffs_funds .complete_box {
    width: 15%;
  }
  .works .line__box {
    display: none;
  }
  .works__right-box {
    margin-top: 0;
  }
  .works__card {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .works__cards {
    flex-wrap: wrap;
    row-gap: 20px;

    & > div {
      width: 100%;
    }
  }
  .bonus__info {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .bonus__title {
    font-size: 26px;
    line-height: 30px;
  }
  .bonus__images .img__1 {
    left: 3%;
    width: 50px;
    top: 0;
  }
  .bonus__images .img__4 {
    right: 3%;
  }
  .bonus__images .img__5 {
    bottom: 0;
  }
  .bonus__images .img__2 {
    left: 16%;
  }
}
@media screen and (max-width: 768px) {
  .main__statistics-header .statistics__header-box {
    min-width: 65%;
  }
  .main__statistics-box {
    min-width: 65%;
  }
  .main__statistics-tr .benefit_info {
    white-space: nowrap;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding: 50px 0;
  }
  .footer .social_media {
    justify-content: start;
  }
  .bonus__images .img__3,
  .bonus__images .img__4,
  .bonus__images .img__2 {
    display: none;
  }
  .bonus__images .img__5 {
    right: 0;
  }
  .bonus__images .img__1 {
    left: 8px;
    top: -46px;
  }
  .main__statistics-header .statistics__header-box {
    min-width: 100%;
    max-width: 100%;
  }
  .main__statistics-header .statistics__header-title {
    font-size: 18px;
  }
  .main__statistics-header .statistics__header-info {
    white-space: nowrap;
  }
  .main__statistics-box {
    min-width: 90%;
    max-width: 100%;
  }
  .main__intro {
    margin-top: 20px;
  }
  .register__box {
    padding: 30px 25px 30px 25px;
  }
  .register__box .or__text {
    margin: 10px 0;
  }
  .main__intro-right-img {
    display: none;
  }
  .main__intro-info-box {
    max-width: 100%;
  }
  .main__intro-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .main__intro-info {
    font-size: 20px;
    line-height: 23px;
    span {
      font-size: 20px;
    }
    br {
      display: none;
    }
  }
  .benefit__cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .benefit__card {
    padding: 0 20px 28px 20px;
  }
  .benefit__card-title {
    font-size: 22px;
  }
  .tariffs_funds-number p {
    font-size: 12px;
    line-height: 16px;
  }
  .tariffs_funds-number {
    gap: 10px;
  }
  .tariffs_funds .range_slider-dot.complete {
    width: 30px;
    height: 30px;
  }
  .tariffs_funds .range_slider-dot .check_box {
    width: 18px;
    height: 18px;
  }
  .tariffs_funds-range {
    margin-top: 20px;
  }
  .tariffs_funds .range_info {
    font-size: 16px;
    margin: 20px 0 20px 0;
  }
  .works__card {
    flex-wrap: wrap;
    padding: 25px;
  }
  .interface__cards {
    margin: 40px 0;
  }
  .interface {
    margin: 50px 0;
  }
  .reviews .title_info {
    margin-top: 10px;
    margin-bottom: 45px;
  }
  .reviews .slide__box-top {
    flex-wrap: wrap;
  }
  .reviews .swiper {
    padding-bottom: 51px;
  }
  .faq .title_info {
    margin: 20px 0;
  }
  .accordion__header {
    padding: 20px;
  }
  .accordion__content-text {
    padding: 0 20px 20px 20px;
    font-size: 16px;
  }
  .accordion .accordion__btn {
    right: -10px;
    width: 30px;
    height: 30px;
    img {
      width: 50%;
    }
  }
  .accordion__header-text {
    font-size: 18px;
  }
  .bonus__title {
    font-size: 20px;
  }
  .bonus__info {
    line-height: 20px;
    margin: 20px 0;
  }
  .tariffs_card-line {
    margin: 20px auto;
  }
  .works__cards {
    margin-top: 50px;
  }
  .tariffs {
    margin-bottom: 50px;
  }
  .main__statistics-header {
    padding: 15px 20px 15px 20px;
  }
  .connect__page .interface__cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    width: 100%;
    .interface__card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 440px) {
  .tariffs_ethereum {
    width: 50px;
    top: 16px;
  }
  .main__statistics-header .statistics__header-info img {
    display: none;
  }
  .main__statistics-header .statistics__header-info p,
  .main__statistics-header .statistics__header-title {
    font-size: 16px;
  }
}
