.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding: 28px 0;
  }

  &_left {
    display: flex;
    align-items: center;
  }
  &_wallet {
    margin-left: 112px;
    display: flex;
    align-items: center;
    gap: 41px;

    &-box {
      display: flex;
      align-items: center;
      gap: 13px;
      cursor: pointer;
    }
  }
}
