.header {
  .container:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
  }

  &_left {
    display: flex;
    align-items: center;
  }
  &_wallet {
    margin-left: 112px;
    display: flex;
    align-items: center;
    gap: 41px;

    &-box {
      display: flex;
      align-items: center;
      gap: 13px;
      cursor: pointer;
    }
    &-number {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &_right {
    display: flex;
    align-items: center;
  }
  &_user-box {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  &_user-icon {
    background: #e2e2e2;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_user-name {
    line-height: 20pt;
    font-size: 16px;

    &:first-child {
      font-weight: bold;
    }
  }
  &_hellp-center {
    &.no_ml {
      margin-left: 0;
    }
    gap: 23px;
    display: flex;
    margin-left: 65px;
  }
  &_color-mode {
    border: 2px solid #e2e2e2;
    border-radius: 16px;
    width: 56px;
    overflow: hidden;
    margin: 0 26px;
    cursor: pointer;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: #e2e2e2;
      cursor: pointer;
      transition: transform 0.3s ease-in;
      transform: translateX(100%);

      &.active {
        transform: translateX(0);
      }
    }
  }
  &_language-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      .dropdown {
        transform: scaleY(1);
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      padding-top: 18px;
      flex-direction: column;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      z-index: 10;

      & > div {
        padding: 14px 12px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .eng {
      display: flex;
      gap: 10px;
    }
    .option__value .eng {
      gap: 10px;
    }
    .arrow_down {
      transition: transform 0.3s ease-in-out;
    }
    &:hover .arrow_down {
      transform: translateY(3px);
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
  .register_btns {
    display: flex;
    gap: 23px;
    margin-right: 43px;
  }
}
// media query start
@media screen and (max-width: 1260px) {
  .header_hellp-center {
    margin-left: 10px;
  }
  .header_wallet {
    margin-left: 30px;
    gap: 20px;
  }
}
@media screen and (max-width: 1090px) {
  .header_wallet {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .header .container:first-child {
    padding: 20px 0;
  }
  .header .register_btns {
    display: none;
  }
  .header_left-logo svg {
    width: 140px;
    height: 40px;
  }
}
@media screen and (max-width: 675px) {
  .header_user-box {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header_user-icon {
    display: none;
  }
  .header_color-mode {
    margin: 0;
    height: 28px;
  }
  .header_color-mode button {
    height: 100%;
    border-radius: 20px;
    padding: 0;
    img {
      width: 13px;
      margin: 0 auto;
    }
  }
  .header_right {
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header_left-logo svg {
    width: 120px;
    height: 35px;
  }
}
