.nav {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  &_list {
    display: flex;
    gap: 62px;
    justify-content: center;
    padding: 31px 0 65px 0;
  }
  &_link {
    color: #343a40;
    font-size: 19px;
    transition: color 0.2s ease;
    &:hover,
    &.active {
      color: #007bff;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav_list {
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 20px 30px 20px !important;
    width: 100%;
    height: fit-content;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 20px 20px 14px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    &.active {
      transform: scaleY(1);
    }

    &_list {
      flex-direction: column;
      padding: 0 !important;
    }

    .close__nav-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
